<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.desc %}
    <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}

  <meta name="author" content="{{ site.author.name }}">
  <meta name="baseurl" content="{{ site.baseurl }}">

  <!-- Open Graph / Twitter -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  {% if page.desc %}<meta property="og:description" content="{{ page.desc }}">{% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | prepend: site.baseurl }}">
  <meta name="twitter:card" content="summary">

  <title>
    {% if page.title != "index" %}
      {{ site.title }}|{{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/letter.ico" | prepend: site.baseurl }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300..600&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- Main CSS -->
  <link href="{{ "/static/assets/app-20210315.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/static/css/blog.css" | prepend: site.baseurl }}" rel="stylesheet">

  {% include theme_init.html %}
  <script defer src="{{ "/static/js/theme.js" | prepend: site.baseurl }}"></script>

  <!-- Main Scripts -->
  <script src="{{ "/static/assets/app-20210315.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/static/assets/blog-20210315.min.js" | prepend: site.baseurl }}"></script>

  <!-- MathJax Support (干净版) -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true,
        processEnvironments: true,
        tags: 'ams'
      },
      options: {
        ignoreHtmlClass: "tex2jax_ignore",
        processHtmlClass: "tex2jax_process"
      },
      startup: {
        ready: () => {
          console.log('MathJax is loaded and ready');
          MathJax.startup.defaultReady();
          MathJax.startup.promise.then(() => {
            console.log('MathJax initial typesetting complete');
          });
        }
      }
    };
  </script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GMDVN35R6T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-GMDVN35R6T');
  </script>
</head>
