<section class="section writing" id="writing">
  <div class="section__head reveal">
    <span class="section__num">04</span>
    <h2 class="section__title">Writing</h2>
  </div>
  <ul class="writing__list">
    {% for post in site.posts limit: 5 %}
    <li class="writing__item reveal" style="--i: {{ forloop.index0 }}">
      <a class="writing__link" href="{{ post.url | prepend: site.baseurl }}">
        <span class="writing__num">{{ forloop.index | prepend: '0' | slice: -2, 2 }}</span>
        <span class="writing__title">{{ post.title }}</span>
        <span class="writing__meta">
          <span class="writing__date">{{ post.date | date: "%b %Y" }}</span>
          {% if post.categories.first %}<span class="writing__cat">{{ post.categories.first }}</span>{% endif %}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a class="writing__more reveal" href="{{ '/blog/' | prepend: site.baseurl }}">All writing &rarr;</a>
</section>
